#headerdiv
{
    background-color: Red;
    width: 700px;
    height: 30px;
    margin-left: 150px;
}
#FoodieJournalDiv
{
    color: white;
   padding: 5px;
    margin-left: 10px;
    width: 100px;

    font-style: normal;
}
#LoginDiv
{

    margin-top: -22px;
    margin-left: 630px;

}
#adiv{
    color: white;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}