
.fill-screen{
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


@media screen and (max-width: 1200px) {
    #challenge {
        position: absolute;
        font-size:30px;
        margin-top: 50px;
        margin-left: 400px;
    }
}

@media screen and (max-width: 568px) {
    #challenge {
        position: absolute;
        font-size:30px;
        margin-top: 50px;
        margin-left: 100px;

    }
}
@media screen and (max-width: 400px) {
    #challenge {
        position: absolute;
        font-size:25px;
        margin-top: 50px;
        margin-left: 70px;
    }
}

@media screen and (max-width: 1200px) {
    #p2 {
        position: absolute;
        font-size:17px;
        margin-top: 100px;
        margin-left: 350px;
    }
}

@media screen and (max-width: 568px) {
    #p2 {
        position: absolute;
        font-size:15px;
        margin-top: 100px;
        margin-left: 50px;
    }
}
@media screen and (max-width: 400px) {
    #p2 {
        position: absolute;
        font-size:12px;
        margin-top: 100px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 1200px) {
    #p3 {
        position: absolute;
        font-size:17px;
        margin-top: 120px;
        margin-left: 370px;
    }
}

@media screen and (max-width: 568px) {
    #p3 {
        position: absolute;
        font-size:15px;
        margin-top: 120px;
        margin-left: 65px;
    }
}
@media screen and (max-width: 400px) {
    #p3 {
        position: absolute;
        font-size:12px;
        margin-top: 120px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px) {
    #getstartedbutton
    {
        color: white;
        background-color: Red;
        margin-top: 180px;
        margin-left: 450px;
        width: 150px;
    }
}

@media screen and (max-width: 568px) {
    #getstartedbutton
    {
        color: white;
        background-color: Red;
        margin-top: 180px;
        margin-left: 150px;
    }
}
@media screen and (max-width: 400px) {
    #getstartedbutton
    {
        color: white;
        background-color: Red;
        margin-top: 180px;
        margin-left: 100px;
    }
}


    #discoverMore
    {

        height: 30px;
        margin-top: 155px;
        text-align: center;
        color: white;
        background-color: black;
        opacity: 0.6;
    }

#newConceptdiv
{
    position: relative;
    height:400px;
   /* background-size: cover;
    background-position: center;*/
}
#newConceptdiv::after{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    height:400px;
    background-image:url("../images_VY/picjumbo.com_IMG_0895.jpg");
    background-size: cover;
    background-position: center;

    opacity: 0.1;


}
@media (max-width: 768px)  {
    #newConceptdiv::after{
          height: 1000px;
      }
    #newConceptdiv{
        height: 1000px;
    }

}
    .circlediv
    {

        margin-top: 100px;
        margin-left: 120px;
        width: 100px;
        height: 100px;
        background: red;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;

    }
.forkimage
{

    margin-top: 34px;
    margin-left: 34px;
}
.p5{
    text-align: center;
    margin-top: 30px;
    font-family: Arial;
    font-style: normal;

}
.p6{
    text-align: center;
    margin-top: -5px;
    font-family: Arial;
    font-style: normal;

}
.p7{
    text-align: center;
    margin-top: -5px;
    font-family: Arial;
    font-style: normal;

}







