<div class="row x-row">
        <div class="col-md-12 x-column-menu">
                    <a href="#" ng-repeat="c in culinaris" class="btn btn-default x-btn-default {{c.selectedCls}}">{{c.name}}</a>
        </div>
</div>
<div class="x-hr row x-row"></div>
<div class="row x-row">
    <div class="col-md-6">
           <circular-progressbar culinary="culinary"></circular-progressbar>
           <div class="x-culinary-name">{{culinary.name}}</div>
           <div class="x-culinary-description">{{culinary.description}}</div>
    </div>
    <div class="col-md-6 x-culinary-follow">
        <div>
              <a  class="btn btn-default x-btn-default ">Duration:{{culinary.duration}}</a>
        </div>
        <div>
            <a  class="btn btn-default x-btn-default x-btn-orange">Follow</a>
        </div>
    </div>
</div>
<div class="row x-row-accordian" >
    <div class="col-md-12">
            <section ng-repeat="f in culinary.foods" id="accordion">
                <div>
                    <input type="checkbox" id="{{f.id}}" />
                    <label for="{{f.id}}"><b class="x-circle x-number">&nbsp;{{$index + 1}}&nbsp;</b>&nbsp;&nbsp;{{f.title}}</label>
                    <article>
                        <p>{{f.description}}</p>
                    </article>
                </div>
            </section>
    </div>
</div>
