<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" style="padding: 0px; width: 100%" ng-controller="HomeController" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Foodie Journal</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <div ng-if="!user.isLogin " >
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">

                                <a  class="dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-sm">Login</a>
                               <!-- <a id="login-href" ng-click='toggleModal()' data-toggle="modal" data-target="#myModal" >Login</a>-->
                            </li>
						</ul>

				</div>
				<div ng-if="user.isLogin">
				     <ul id="hi-logout-window" class="nav navbar-nav navbar-right">
						<li id="hi-id" class="dropdown">
							<a  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">hi,{{user.userName}}!</a>
						</li>
						<li id="userimage-id" class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img class="x-profile-image" ng-src="{{user.profileImage}}"></a>
						</li>
						<li id="caret-id" class="dropdown x-caret">
								<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
									  <ul id="mmm" class="dropdown-menu " role="menu">
										<li><a href="#">My Account</a></li>
										<li><a ng-click="logout()">Log Out</a></li>
									  </ul>
						</li>
					</ul>
				</div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            
        </div>
    </header>
<!--Modal Implemented Start-->
<div class="modal fade bs-example-modal-sm modal-custom-position" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-content-custom">
            <form name="form" class="form-signin" >
                <div class="col-md-12">
                    <input name='email' ng-model="email" type="email" placeholder="Email or Username" class="form-control"/></br>
                </div>
                <div class="col-md-12">
                    <input name='password' ng-model="password" type="password" ng-model="password" placeholder="Password" class="form-control"/>
                </div>
                <div class="form-actions">
                    <button ng-click="login()" type="submit" class="btn btn-primary submit" data-dismiss="modal">Login</button>
                    <p class="custom-pr">or login with</p>
                    <div class="col-md-12 class socialBtn social-btn-custom">
                        <a class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-social  btn-google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Implemented End-->

