<div class="navbar navbar-inverse navbar-fixed-top" id="header-divVY" class="row">
    <div id="foodie-journalDiv" class="col-sm-6">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hidden-lg hidden-md" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Foodie Journal</a>

        </div>
    </div>
    <div class="collapse navbar-collapse col-sm-6" id="bs-example-navbar-collapse-1 col-xs-3">
        <div ng-if="!user.isLogin " >
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                    <a  class="dropdown-toggle" data-toggle="modal" data-target=".bs-example-modal-sm">Login</a>
                    <!-- <a id="login-href" ng-click='toggleModal()' data-toggle="modal" data-target="#myModal" >Login</a>-->
                </li>
            </ul>

        </div>
        <div ng-if="user.isLogin">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">hi,{{user.userName}}!</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img class="x-profile-image" ng-src="{{user.profileImage}}"></a>
                </li>
                <li class="dropdown x-caret">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">My Account</a></li>
                        <li><a ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

<!--Modal Implemented Start-->
<div class="modal fade bs-example-modal-sm modal-custom-position" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-content-custom">
            <form name="form" class="form-signin" >
                <div class="col-md-12">
                    <input name='email' ng-model="email" type="email" placeholder="Email or Username" class="form-control"/></br>
                </div>
                <div class="col-md-12">
                    <input name='password' ng-model="password" type="password" ng-model="password" placeholder="Password" class="form-control"/>
                </div>
                <div class="form-actions">
                    <button ng-click="login()" type="submit" class="btn btn-primary submit" data-dismiss="modal">Login</button>
                    <p class="custom-pr">or login with</p>
                    <div class="col-md-12 class socialBtn social-btn-custom">
                        <a class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-social  btn-google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Implemented End-->

